cached-property
cerberus
git+https://github.com/tcezard/eva-common-pyutils@EVA3012_add_assembly#egg=ebi-eva-common-pyutils
eva-vcf-merge>=0.0.6
humanize
lxml
openpyxl
psycopg2-binary
pymongo
pysam
pyyaml
requests
retry
