cached-property
cerberus
#ebi_eva_common_pyutils==0.3.12
git+https://github.com/tcezard/eva-common-pyutils.git@EVA2364_support_single_sequence#egg=ebi_eva_common_pyutils
humanize
lxml
openpyxl
psycopg2-binary
pymongo
pysam
pyyaml
requests
retry
